#{extends 'main.html' /}
#{set title:'About' /}

#{menu id:"about"/}

<section class="ui center aligned middle aligned segment">
  <p>
    <table class="ui fixed table">
        <thead>
        <tr>
            <th> </th>
            <th></th>
        </tr>
        </thead>
        <tbody>


            <tr>
                <td><h1 class="ui header">BMI Tracker </h1>
                   <p>Track & manage your progress over a number of sessions.
    Interact and streamline your workout with
    advice from specialist trainers.
</p>
    </td>

                <td> <img class="ui image" src ="/public/images/gym-symbols.jpg"> </td>
            </tr>
        </div>

        </tbody>
    </table>
  </p>
</section>