
#{extends 'main.html' /}
#{set title:'Dashboard' /}

#{if !isTrainer}
    #{menu id:"dashboard"/}
#{/if}

#{if isTrainer}
    #{trainermenu /}
#{/if}

<section class="ui raised segment">
    <header class="ui center aligned header">
    ${member.firstName} ${member.lastName}'s Assessment List
    </header>

    <table class="ui center aligned unstackable table">
        <thead>
        <h3 class="ui center aligned header">Current BMI Assessment</h3>
        <tr>
        <th class="ui center aligned header"><i class="user icon"></i> </th>
        #{if isIdeal}
        <th class="ui center aligned header"><i class="green weight icon"></i></th>
        #{/if}
        #{if !isIdeal}
        <th class="ui center aligned header"><i class="red weight icon"></i></th>
        #{/if}
        <th class="ui center aligned header"><i class="heartbeat icon"></i> ${bmi}</th>
        <th class="ui center aligned header"><i class="doctor icon"></i> </th>
        </tr>
        <tr>
            <th><h3>${member.firstName}</h3></th>
            <th><h3>Ideal Weight Indicator</h3></th>
            <th><h3>BMI</h3></th>
            <th><h3>${bmiCategory}</h3></th>

        </tr>
        </thead>
        <tbody>

        </tbody>

    </table>

    <table class="ui center aligned unstackable table">
        <thead>
        <h3 class="ui center aligned header">${member.firstName}'s starting stats</h3>
        <th class="ui center aligned header">Height: ${member.height} metres</th>
        <th class="ui center aligned header">StartWeight: ${member.startWeight}</th>
        </thead>

    </table>
#{if !isTrainer}
    <form class="ui form segment" action="/dashboard/addAssessment" method="POST">
        <div class="three fields">
            <div class="field">
                <label>Weight</label>
                <input placeholder="Title" type="text" name="weight" required>
            </div>
            <div class="field">
                <label>Chest</label>
                <input placeholder="Title" type="text" name="chest" required>
            </div>
            <div class="field">
                <label>Thigh</label>
                <input placeholder="Title" type="text" name="thigh" required>
            </div>
        </div>
        <div class="three fields">
            <div class="field">
                <label>UpperArm</label>
                <input placeholder="Title" type="text" name="upperArm" required>
            </div>
            <div class="field">
                <label>Waist</label>
                <input placeholder="Title" type="text" name="waist" required>
            </div>
            <div class="field">
                <label>Hip</label>
                <input placeholder="Title" type="text" name="hip" required>
            </div>
        </div>

        <button class="ui blue submit button" type="submit">Add Assessment</button>
    </form>
#{/if}

    <table class="ui center aligned unstackable table">
        <thead>
        <h3 class="ui center aligned header">Assessments</h3>
        <th>Date of Assess</th>
        <th>Weight</th>
        <th>Chest</th>
        <th>Thigh</th>
        <th>UpperArm</th>
        <th>Waist</th>
        <th>Hip</th>
        <th>Trend</th>
        <th>Comment</th>
        #{if !isTrainer}
        <th>Delete Assessment</th>
        #{/if}
        </thead>
        <tbody>
        #{list items:assessments, as:'assessment'}
        <tr>
            <td>${assessment.dateOfAssessment.toString().substring(0,19)}</td>
            <td> ${assessment.weight}</td>
            <td> ${assessment.chest}</td>
            <td>${assessment.thigh}</td>
            <td> ${assessment.upperArm}</td>
            <td> ${assessment.waist}</td>
            <td> ${assessment.hip} </td>
            #{if assessment.higher}
                <td> <i class="ui red angle double up icon"></i></td>
            #{/if}
            #{if !assessment.higher}
                <td> <i class="ui green angle double down icon"></i></td>
            #{/if}
            <td> ${assessment.comment} </td>
            #{if !isTrainer}
                <td> <a href="/dashboard/${member.id}/deleteAssessment/${assessment.id} " class="ui tiny red button"> Delete Assessment</a> </td>
            #{/if}
            #{if isTrainer}
            <tr>
                <td colspan="7">
                    <form method="POST" action="/addComment/${assessment.id}">
                        <div class="ui form">
                            <div class="field">
                                <label>Add comment</label>
                                <textarea rows = "2" placeholder="Enter comment..." name="comment"></textarea>
                                <input hidden name="memberId" value="${member.id}">
                            </div>
                                <button class="ui blue button" type="submit">Update Comment</button>
                        </div>
                    </form>
                </td>
            </tr>
            #{/if}
        </tr>

        #{/list}
        </tbody>
    </table>

</section>

