#{extends 'main.html' /}
#{set title:'Start' /}

#{welcomemenu id:"start"/}



<section class="ui center aligned middle aligned segment">


 <table class="ui fixed table">
  <thead>
     <tr>
        <h1 class="ui header">
        Create Your Future You
        </h1>
         <p>
             Manage and track your weekly work-out progress.
         </p>
    </tr>
  </thead>
  <tbody>
  <tr><td>
      <img class="ui fluid background image" src="public/images/couple-gym.jpg">
      <p>

      </p>
  </td></tr>
  <tr><td>

  </td>
  </tr>
    </tbody>


</table>

</section>
